<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="./vue.js"></script>
    <script type="text/javascript">
    new Vue({
        data: function() {
            return {
                heros: [{ id: 1, name: '李白' }, { id: 2, name: '娜可露露' }, { id: 3, name: '后羿' }, { id: 4, name: '貂蝉' }], //数据
                person:{a:'b',c:'d' }
            }
        },
        template: `
                <div>
                    <ul>
                        <!--     变量名 in  数据      -->
                        <li v-for="(item,index) in heros">
                            {{item.name}} {{item.id}} {{index}}
                        </li>
                    </ul>

                    数据是一个对象:
                    <ul>
                        <!--     变量名 in  数据      -->
                        <li v-for="(value,key,index) in person">
                            {{value}}     {{key}}       {{index}}                
                        </li>
                    </ul>

                </div>
            `,
        el: '#app'
    });
    </script>
</body>

</html>